* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#like {
    position: relative;
}

#heart {
    font-size: 6rem;
    color: red;
  background-color: transparent;
    border-radius: 50%;
}
#count {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 157, 183);
    color: rgb(160, 2, 42);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
}
#likeButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: pink;
    border: none;
    border-radius: 1rem; 
  
}
#buttons :hover {
    cursor: pointer;
    background-color: rgb(255, 127, 202);
    transition: all 0.2s;


}


